@import '../../../static/css/color.scss';

.c-point-info {
  background-color: #ffffff;
  width: 710px;
  box-sizing: border-box;
  padding-top: 24px;
  padding-left: 30px;
  padding-bottom: 28px;
  border-radius: 10px;
  font-size: 26px;
  &.cur {
    border: 1px solid $red;
  }
  .shop-name {
    font-size: 28px;
    font-weight: bold;
    color: #101010;
    line-height: 40px;
  }
  .address {
    line-height: 38px;
    padding-top: 10px;
    font-size: 26px;
    color: #9f9f9f;
  }
  .info {
    margin-top: 16px;
    .tag {
      margin-left: 20px;
    }
  }
}
.c-point-info-hover {
  transform: scale(1.1);
  opacity: .5;
  transition: all .1s linear;
}