.p-msg {
  background-color: #fbfbfb;
  min-width: 100vw;
  min-height: 100vh;
  .fix {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fbfbfb;
  }
  // tab-pane
  .tab-pane {
    min-height: calc(100vh - 360px);
    width: 710px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 40px auto;
    overflow: hidden;
    .empty {
      height: 50vh;
    }
    .point-card {
      border-bottom: 1px solid #fbfbfb;
    }
  }
  // .news {
  // }
  // .notes {
  // }
  // tab-head
  .tab-head {
    margin-top: 20px;
  }
  .at-tabs__header {
    display: none;
  }
  .at-tabs__underline {
    background-color: #fbfbfb;
  }
}