.c-textarea {
  min-height: 360px;
  padding: 30px;
  font-size: 30px;
  box-sizing: border-box;
  color: #757070;
  .textarea {
    display: block;
    width: 100%;
    min-height: 360px;
    line-height: 50px;
  }
  .placeholder {
    color: #b3b3b3;
  }
  .fake-placeholder {
    color: #b3b3b3;
    line-height: 39px;
  }
  .hide {
    position: fixed;
    left: 9999px;
  }
}