.p-city-catgray {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  .card {
    margin-bottom: 20px !important;
    border-radius: 10px;
    &.red {
      border: 1px solid #FF6143;
    }
  }
}