.p-user {
  background-color: #f9f8f8;
  min-height: 100vh;
  .user-info {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    .left {
      .left {
        width: 132px;
        height: 132px;
        margin-right: 32px;
      }
      .name {
        font-size: 30px;
        line-height: 44px;
        margin: 0;
      }
      .other-info {
        line-height: 34px;
        font-size: 24px;
        margin-top: 6px;
        margin-bottom: 40px;
      }
      .textlong {
        padding-top: 30px;
      }
    }
    .btn-diy {
      transform: translateY(-28px);
    }

  }
  .content {
    min-height: 90vh;
    padding-top: 40px;
    .point-card {
      margin-bottom: 2px;
      margin-left: 20px;
    }
  }
  .map-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    .map-card {
      flex: none;
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }
  .empty {
    height: 50vh;
  }
  .divider {
    width: 600px;
    margin: 0 auto;  
    .at-divider__content {
      background-color: #f9f8f8;
      font-size: 28px;
    }
  }
  // 顶部导航
  .tab-header {
    position: sticky;
    top: 0;
    background-color: #f9f8f8;
    z-index: 1;
  }
  .none {
    display: none;
  }
  .at-tabs__header {
    display: none;
  }
  .at-tabs__underline {
    background-color: #f9f8f8;
  }
}