.p-article {
  padding-bottom: 120px;
  // 标题
  .note-title {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #f7f7f7;
    background-color: #ffffff;
    z-index: 3;
    .down {
      height: 100px;
      border-bottom: 0;
      .input {
        font-weight: bold;
        height: 100px;
        font-size: 36px;
      }
    }
  }
  // 链接更多 
  .title {
    padding-left: 30px;
    font-size: 28px;
  }
  .input-link {
    margin: 30px auto;
  }
  .icon-diy{
    transform: translateY(-2px);
  }
  .point-info {
    background-color: #f9f9f9;
    margin: 0 auto;
    width: 690px;
    margin-bottom: 30px;
  }
  .addBtns {
    color: #888888;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
  }
}
