.c-alert-add-service {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .pic-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 580px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 42px;
    padding-left: 32px;
    .pic {
      width: 136px;
      height: 116px;
    }
  }
  .container {
    width: 100vw;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -30px;
    border-radius: 30px;
    box-sizing: border-box;
    padding-top: 144px;
    padding-bottom: 120px;
    color: #101010;
    font-size: 28px;
    .title {
      line-height: 40px;
      text-align: center;
      font-weight: bolder;
      margin-bottom: 16px;
    }
    .title02 {
      line-height: 40px;
      text-align: center;
      font-weight: bolder;
      margin-bottom: 60px;
    }
    .info {
      text-align: center;
      margin-bottom: 112px;
    }
    .info02 {
      text-align: center;
      font-size: 24px;
      color: #999999;
      margin-bottom: 40px;
    }
    .btn {
      background-color: #FF6143;
      border-radius: 80px;
      width: 360px;
      font-size: 32px;
      color: #fff;
      margin: 0 auto;
    }
  }
}